/* 
    General Styles
*/
.characterCards {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.cardList{
    margin: 1rem;
}

.cardTitle{
    text-align: center;
    padding-top: 0.5rem;
}
.cardBottom {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
}

.fa-jedi-order {
    font-size: 2rem;
}